{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
<title>Hype</title>
<link rel="stylesheet" type="text/css" href="{% static 'Extra-1/styles/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Extra-1/fonts/bootstrap-icons.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="../../../css2?family=Inter:wght@500;600;700;800&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="manifest" href="{% static 'Extra-1/_manifest.json' %}">
<meta id="theme-check" name="theme-color" content="#FFFFFF">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'Extra-1/app/icons/icon-192x192.png' %}"></head>
<body class="theme-light">
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
<div id="page">



<div id="menu-main" data-menu-active="nav-media" data-menu-load="menu-main.html" style="width:280px;" class="offcanvas offcanvas-start offcanvas-detached rounded-m">
</div>

<div id="menu-color" data-menu-load="menu-highlights.html" style="height:340px" class="offcanvas offcanvas-bottom offcanvas-detached rounded-m">
</div>

<div class="page-content header-clear-medium">
<div class="card card-style">
<div class="card-body text-center">
<h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1"></h5>
<h1 class="font-23">Projects & Galleries</h1>
<p class="mb-2 px-4">
Your personal Hype-Aachive, write your own story.
</p>
</div>
</div>
<div class="card card-style">
<div class="content mb-0">
<h6 class="text-uppercase mt-n2">Galleries</h6>
<div class="list-group list-custom list-group-m list-group-flush rounded-xs check-visited">
<a href="#" class="list-group-item"><i class="has-bg rounded-s bi bg-red-dark bi-image"></i><div>Uploaded Images</div><i class="bi bi-chevron-right"></i></a>
<a href="#" class="list-group-item"><i class="has-bg rounded-s bi bg-green-dark bi-columns-gap"></i><div>Uploaded Videos</div><i class="bi bi-chevron-right"></i></a>
<a href="#" class="list-group-item"><i class="has-bg rounded-s bi bg-blue-dark bi-music-note-list"></i><div>Uploaded Audios</div><i class="bi bi-chevron-right"></i></a>
<a href="#" class="list-group-item"><i class="has-bg rounded-s bi bg-yellow-dark bi-collection"></i><div>Posts</div><i class="bi bi-chevron-right"></i></a>
<a href="#" class="list-group-item"><i class="has-bg rounded-s bi bg-magenta-dark bi-pin-angle"></i><div>Unfinished Projects</div><i class="bi bi-chevron-right"></i></a>
</div>
</div>
</div>
<div class="card card-style">
<div class="content mb-0">
<h6 class="text-uppercase mt-n2">General Vibes</h6>
<div class="list-group list-custom list-group-m list-group-flush rounded-xs check-visited">
<a href="#" class="list-group-item"><i class="has-bg rounded-s bi bg-red-dark bi-heart-fill"></i><div>Favourate Posts</div><i class="bi bi-chevron-right"></i></a>
<a href="#" class="list-group-item"><i class="has-bg rounded-s bi bg-blue-dark bi-people-fill"></i><div>Personal Groupes</div><i class="bi bi-chevron-right"></i></a>
</div>
</div>
</div>
<div class="card card-style py-3">
    <div class="content px-2 text-center">
    <h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase"></h5>
    <h2>Share Hype With a Friend</h2>
    <p class="mb-3">
    Get to share Hype with all your fans and friends to boost your ratings.
    </p>
    <a href="#" target="_blank" class="default-link btn btn-m rounded-s gradient-highlight shadow-bg shadow-bg-s px-5 mb-0 mt-2">Share Hype Now</a>
    </div>
    </div>
    </div>

</div>

<script src="{% static 'Extra-1/scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'Extra-1/scripts/custom.js' %}"></script>
</body></html>