<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
<title>Hype</title>
<link rel="stylesheet" type="text/css" href="{% static 'Extra-3/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Extra-1/styles/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Extra-1/fonts/bootstrap-icons.css' %}">
<link href="../../../css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
<div id="pagef">



<form action="" method="POST">

<div class="page-content header-clear-medium">
<div class="card card-style">
<div class="content mb-0">
<h6 class="font-700 mb-n1 color-highlight">Account Settings</h6>
<div style="padding-top: 100px;" ></div>
		<div style="text-align: center;" id="fat" class="result">
			<img style="border-radius: 1000px;width:200px;height:200px " src="/static/media/Users/{{USER}}.jpg?={{RAND}}">
		
		</div>
        <div style="padding-top: 10px;"></div>
<h1 class="pb-2" style="text-align: center;">Basic Information</h1>
<p>
Basic details about you. Set them here. These can be connected to your database and shown on the user profile.
</p>

<div class="divider"></div>
<div class="form-custom form-label form-icon mb-3">
<i class="bi bi-person-circle font-14"></i>
<input type="text" name="name" class="form-control rounded-xs" required id="c1" placeholder="Karla Black" value="{{DATA.1}}">
<span>(required)</span>
</div>
<div class="form-custom form-label form-icon mb-3">
<i class="bi bi-at font-16"></i>
<input type="text" name="email" class="form-control rounded-xs" required id="c1" placeholder="Email" value="{{DATA.4}}">
<span>(required)</span>
</div>
<div class="form-custom form-label form-icon mb-3">
<i class="bi bi-at font-16"></i>
<input type="text" name="bio" class="form-control rounded-xs" required id="c1" placeholder="About you" value="{{DATA.6}}">
<span>(required)</span>
</div>
{% csrf_token %}

</div>
</div>
</div>
<div class="card card-style">
<div class="content mb-2">
<h6 class="font-700 mb-n1 color-highlight">Connected Profiles</h6>
<h1 class="pb-2">Socials</h1>
<p>
Basic details about you. Set them here. These can be connected to your database and shown on the user profile.
</p>
<div class="list-group list-custom list-group-m rounded-xs list-group-flush">
<a href="#" class="list-group-item">
<i class="bi color-facebook bi-facebook"></i>
<div>Facebook</div>
<i class="bi bi-chevron-right"></i>
</a>
<a href="#" class="list-group-item">
<i class="bi color-twitter bi-twitter"></i>
<div>Twitter</div>
<i class="bi bi-chevron-right"></i>
</a>
<a href="#" class="list-group-item">
<i class="bi color-instagram bi-instagram"></i>
<div>Instagram</div>
<i class="bi bi-chevron-right"></i>
</a>
</div>
</div>
</div>




<button type="submit" class="btn  gradient-blue shadow-bg shadow-bg-s rounded-s btn-m text-uppercase font-900"style="width:95%;left:2.5%" >Save Information</button>
</form>
</div>
<script type="text/javascript" src="{% static 'Extra-3/scripts/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Extra-3/scripts/custom.js' %}"></script>
</body></html>